.visual-testTooltip4696B540F3494FE5BA002362825DDE7D_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-testTooltip4696B540F3494FE5BA002362825DDE7D_DEBUG p em {
  background: yellow;
  padding: 5px;
}
.visual-testTooltip4696B540F3494FE5BA002362825DDE7D_DEBUG .node {
  cursor: pointer;
}
.visual-testTooltip4696B540F3494FE5BA002362825DDE7D_DEBUG .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.visual-testTooltip4696B540F3494FE5BA002362825DDE7D_DEBUG .node text {
  font: 15px sans-serif;
}
.visual-testTooltip4696B540F3494FE5BA002362825DDE7D_DEBUG .link {
  fill: none;
  /*stroke: lightgray;*/
  stroke-width: 1.5px;
  /*stroke-dasharray: 5;*/
}
.visual-testTooltip4696B540F3494FE5BA002362825DDE7D_DEBUG div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 10px;
  font: 12px sans-serif;
  background: #a0d63c;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  pointer-events: none;
}
.visual-testTooltip4696B540F3494FE5BA002362825DDE7D_DEBUG .text-progress {
  text-anchor: middle;
  font: 10px sans-serif;
}
